name: Build
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main

jobs:
  build-and-deploy-artifact:
    name: Build and deploy to github package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4

      - name: Set up JDK 1.11
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # ratchet:actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
          cache: 'maven'

      - name: Resolve/Update Dependencies
        run: mvn package dependency:resolve-plugins dependency:go-offline

      - name: Build (and run tests)
        run: mvn clean install
