name: Build
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main

jobs:
  build-and-deploy-artifact:
    name: Build and deploy to github package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4

      - name: Set up JDK 1.11
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
          cache: 'maven'

      - name: Resolve/Update Dependencies
        run: mvn package dependency:resolve-plugins dependency:go-offline

      - name: Build (and run tests)
        run: mvn clean install
